.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: white;
  color: black;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 750px;
  border-radius: 4px;
}
.itemImg {
  width: auto;
  height: 250px;
  max-width: 100%;
}
.cardButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.button {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  background-color: lightgray;
}

.button > a,
p {
  text-decoration: none;
  color: black;
  margin: 0;
}
.card h2 {
  font-size: 18px;
  text-align: center;
}
