.colorNav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3% ;
    align-items: center;
    font-size: 1.5rem;
    background-image: url(../../img/puaBA\ 1.png);
    background-repeat: no-repeat;
    background-position: 13.5rem 1.2rem;
    background-size: 3.7rem;
    
}
.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin-right: 50%;
}
li {
    margin: 0 4rem;
    list-style: none;


}
a {
    text-decoration: none;
    color: #ffffff;

}
a :hover {
    color: rgb(181, 163, 0);
}
.buscar li {
    width: 6.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}